.mainContainer {
  background-color: #f8f2e7;
}

.controlsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  background-color: #fcf5e9;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: 240px;
  padding: 7px 20px;
  font-weight: bold;
  background-color: white;
}

.goBack,
.fileName,
.saveBtn {
  display: flex;
  align-items: center;
}

.saveBtn {
  cursor: pointer;
}

.fileName {
  border: none;
  outline: none;
}

.goBack {
  display: flex;
  align-items: center;
}

.goBack > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  color: black;
}
